<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite" >

    <listeners>
        
        <listener class-name="org.boredkris.pageObjects.testUtils.Listeners"/>
        
    </listeners>

    <test name="End to end Framework Test">
        <classes>
            <class name="org.boredkris.pageObjects.android.eCommerce_tc_4_Hybrid"/>
        </classes>
    </test>


    <test name="Error Validation Test">
        <classes>
            <class name="org.boredkris.pageObjects.android.eCommerce_tc_2"/>
        </classes>
    </test>

</suite>



